<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%= @user.email %></h1>
    <p>
		Hace poco te fue asignada una tarea al proyecto <%= @project.name%>.
		Revisa tu panel para conocer los detalles de la tarea.
    </p>
    <p>Gracias por unirte a nuestro sitio.</p>
  </body>
</html>
