<div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form-login-signup'}) do |f| %>

      <h2 class="form-signin-heading">Ingresar</h2>
      <label for="inputEmail" class="sr-only">Email</label>
      <%= f.email_field :email, autofocus: true, :type => 'email', :id => 'inputEmail', :class => 'form-control', :placeholder => 'E-mail', :required => 'Email requerid' %>

      <label for="inputPassword" class="sr-only">Contraseña</label>
      <%= f.password_field :password, autofocus: true, :type => 'password', :id => 'inputPassword', :class => 'form-control', :placeholder => 'Contraseña', :required => 'Email requerid' %>

      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Recordarme
        </label>
      </div>

      <%= f.submit "Ingresar", :class => 'btn btn-lg btn-primary btn-block' %>
  <% end %>
</div>
